// Importing PlayChessVars file to use those variables
@import 'PlayChessVars.scss';

//

html {
    padding: 0.5rem;
}

// Navigation bar styling
#MyNavigationBar {
    border-left: 2px solid rgb(93, 93, 245);
    border-bottom: 2px solid rgb(93, 93, 245);
}

#MyNavigationBar a {
    color: rgb(93, 93, 245);

}

// 

// Styling of About Me section
#HeroSection {
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(138, 138, 235);
}

// 

// Styling main content i.e. How To Play section and chess board
#ScrollableContainer>div:nth-child(n) {
    background-color: rgb(138, 138, 235);
}

#MainContent>div[class="container-fluid mt-4 mb-5 p-4"] {
    border-right: 2px solid rgb(138, 138, 235);
    border-bottom: 2px solid rgb(138, 138, 235);
}

#MainContent div[class="col-8"] {
    border-top: 2px dotted rgb(138, 138, 235);
    border-left: 2px dotted rgb(138, 138, 235);
}

#MainContent .active {
    background-color: rgb(138, 138, 235);
}

#ChessBoard {
    width: 480px;
    height: 480px;
    border: 0.5px solid black;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}

#ChessBoard>div>div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// 

// Making and styling classes for JS to work with it
// Styling for each squares in a chess board i.e. 64
.square {
    width: 60px;
    height: 60px;
    position: relative;
}

// 

// Inside each occupied squares we have chess pieces
.ChessPiece {
    background-color: none;
    position: absolute;
    z-index: 20;
}

// 

.square svg {
    position: relative;
    z-index: 5;
}

.square path {
    position: relative;
    z-index: 0;
}

.periwinkle {
    background-color: rgb(138, 138, 235);
}

.white {
    background-color: white;
}

// 

//Styling for footer content
#FooterContent {
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(138, 138, 235);
}

.FootAnchor {
    color: black;
    font-weight: 300;
}

.FootAnchor:hover {
    text-decoration: underline !important;
    text-decoration-thickness: 0.25px !important;
    text-decoration-color: black !important;
}

// 

// To change default sizes of displays
.display-1 {
    font-size: map-get($display-font-sizes, 1);
}

.display-2 {
    font-size: map-get($display-font-sizes, 2);
}

.display-3 {
    font-size: map-get($display-font-sizes, 3);
}

.display-4 {
    font-size: map-get($display-font-sizes, 4);
}

.display-5 {
    font-size: map-get($display-font-sizes, 5);
}

.display-6 {
    font-size: map-get($display-font-sizes, 6);
}

// 